<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
</head>
<body>
    <div class="container">
        <h2 class="todo-title">Add todo</h2>
        <div>
            <a href="" class="btn">Back</a>
        </div>
        <br>

        <form action="" method="">
            <div class="new-todo">
                <div class="form-group">
                    <label for="title" class="text-align">Title</label>
                    <input type="text" name="title" value="" id="title" placeholder="type todo here">
                </div>
                <div class="form-group">
                    <label for="desc" class="text-align">Description</label>
                    <input type="text" name="desc" value="" id="desc" placeholder="type description here">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">save</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>